@import "tailwindcss";

/* ครอบแค่ใน html[data-nextjs] = เว็บของ Next.js เท่านั้น */
html[data-nextjs] {
  --background: #67e049;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  html[data-nextjs] {
    --background: #0a0a0a;
    --foreground: #4ec42a;
  }
}

html[data-nextjs] body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
